.card-container {
  width: 50%;
  min-width: 300px;
  background-color: var(--bg-secundary);

  min-height: 400px;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.card-body {
  height: 90%;
}
